@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-instrument);
  
  --color-primary: #ccff00;
  --color-primary-foreground: #000000;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@utility text-glow {
  text-shadow: 0 0 20px rgba(204, 255, 0, 0.5);
}
